* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.parent-element {
  width: 60%;
  margin: auto;
  min-height: 200vh;
}

.sticky-header {
  margin: 20% auto 10%;
  text-align: center;
  background: #fff;
  transition: 200ms;
  position: sticky;
}

.sticky-header.active-sticky {
  background: blue;
  color: #fff;
}

.animated-line {
  width: 0;
  position: absolute;
  background: red;
  left: 0;
  bottom: 0;
  height: 10px;
}

.sticky-header.active-sticky > .animated-line {
  width: 100%;
  transition: 800ms;
}

img {
  width: 100%;
}
